@import url("http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic, 700");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
body {
  font-family: "lato", sans-serif;
  font-weight: 100;
  color: #4f4f4f;
  height: 100%;
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 110%;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 150%;
  }
}
h1 {
  font-weight: 100;
  font-size: 60px;
}
span {
  font-weight: 400;
  margin-top: -20px;
}
#linkContainer {
  float: right;
  z-index: 0;
}
nav {
  font-family: "old standard tt", serif;
  font-style: italic;
  font-weight: 700;
  float: right;
  background: url("img/navBg.gif");
}
nav a {
  padding-left: 10;
  padding-right: 10;
  padding-top: 5;
  padding-bottom: 5;
  margin: 0;
  display: inline;
  color: #fff;
  text-decoration: none;
}
nav a:nth-child(1) {
  background: #4f4f4f;
}
nav a:nth-child(2) {
  background: #606060;
}
nav a:nth-child(3) {
  background: #727272;
}
nav a:nth-child(4) {
  background: #838383;
}
nav a:nth-child(5) {
  background: #959595;
}
a:hover {
  padding-top: 15px;
}
.active {
  top: px;
  padding-top: 15px;
}
div {
  z-index: 1;
  height: 450px;
  background: #4f4f4f;
}
@media only screen and (max-width: 600px) {
  div {
    color: #f00;
  }
}
div #container canvas {
  width: 100%;
}
footer {
  font-family: "old standard tt";
  font-style: italic;
  position: absolute;
  bottom: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
