@import 'jeet'
@import url("http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic, 700")
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
//edit()
slate = #4f4f4f

body
	font-family "lato", sans-serif
	font-weight 100
	color slate
	height 100%
	+below(900px)
		font-size 110%
	+below(600px)
		font-size 150%;
		//color red


h1 
	font-weight 100
	font-size 60px
	//+below(600px)
		
span
	font-weight 400
	//padding 10px
	margin-top -20px

#linkContainer
	float right
	z-index 0


nav
	font-family "old standard tt", serif
	font-style italic 
	font-weight 700

	//top -10px
	//display inline
	// stack()
	// clear right
	float: right
	background url("img/navBg.gif")
	a
		
		padding-left 10
		padding-right 10
		padding-top 5 
		padding-bottom 5
		// padding 0
		margin 0
		// stack()
		display inline
		//background tint(slate, 55%)
		color #FFFFFF
		text-decoration: none;
	a:nth-child(1)
		background tint(slate, 0%)
	a:nth-child(2)
		background tint(slate, 10%)
	a:nth-child(3)
		background tint(slate, 20%)
	a:nth-child(4)
		background tint(slate, 30%)
	a:nth-child(5)
		background tint(slate, 40%)
	
	
a:hover
	padding-top 10px
.active
	top px
	padding-top 15px

div 
	z-index 1
	height: 450px 
	//span(5/6)
	+below(600px)
		color: red
	#container canvas
		width:100%;
	background slate

footer
	font-family "old standard tt" 
	font-style italic
	position absolute
	bottom 25px
	align(vertical)
